{{> header }}
  <main id="main">
    <div class="container mb-40">
      <div class="mb-20">
        <h1>{{ page.title }}</h1>
        <div>
          <img class="img-circle" style="width: 30px" src="{{ page.metafield.author.object.metafields.0.imgix_url }}?w=100">&nbsp;&nbsp;&nbsp;{{ page.metafield.author.object.title }}
          &nbsp;&nbsp;<span class="make-friendly-date" data-timestamp="{{ page.timestamp }}"></span>
        </div>
      </div>
      {{# page.metafield.hero }}
        <div class="mb-20">
          <div class="col-sm-8">
          <iframe  class="vid" width="560" height="315" src="{{ page.metafield.video.object.metadata.url }}" frameborder="0" allowfullscreen></iframe>
          <div>
        </div>
      <div class="make-relative">
      {{/ page.metafield.hero }}

      
      <div class="col-sm-12" style="font-family: 'Open Sans'">
      {{{ page.content }}}
      </div>
      </div>

    </div>
  </main>
{{> footer }}